.article{
  margin-bottom: 264px;
}

.article__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #333333;
}

.article__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.article__item{
  width: 305px;
  background: #FEFEFE;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  
  
  &:nth-child(2n){
    width: 640px;
    display: flex;
    justify-content: space-between;
  }
  
}


.article__info{
  width: 244px;
  margin: 19px auto;
  
  &:nth-child(2n){
    width: 270px;
    margin-top: 43px;
  }
}

.article__subbox{
  display: flex;
  align-items: center;
}

.article__sublink{
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  color: #3D9CEA;
  margin-right: 7px;
}


.article__time{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-left: 200px;
  
  &:nth-child(2n){
    margin-left: 67px;
  }
}



.article__subtitle{
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.article__text{
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.article__link{
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  position: relative;
  margin-left: 25px;
  
  &::before{
    content: "";
    display: block;
    width: 23px;
    height: 21px;
    background-image: url("../images/pet-step.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    top: -1px;
    left: -23px;
  }
  
  &:hover{
    color: #FFBD54;
  }
  
  &:active{
    color: #333333;
    opacity: 0.6;
  }
}