.blockquote{
  padding-bottom: 171px;
}

.blockquote__box{
  width: 100%;
  max-width: 753px;
  margin: 0 auto;
  position: relative;
  
  &::before{
    content: "";
    display: block;
    width: 62px;
    height: 48px;
    background-image: url("../images/double-cotetion.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    top: -10px;
    left: -35px;    
  }
  
  &::after{
    content: "";
    display: block;
    width: 62px;
    height: 48px;
    background-image: url("../images/double-cotetions.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    bottom: 60px;
    right: -35px;    
  }  
}

.blockquote__line{
  display: block;
  width: 140px;
  border: 1px solid #DBDBDB;
  margin: 0 auto;
}

.blockquote__quote{
  font-family: Futura PT;;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.blockquote__text{
  font-family: Futura PT;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}